In [1]:
import pandas as pd
import numpy as np
import tensorflow as tf
from tensorflow import keras
layers = keras.layers
model = keras.models

In [3]:
data =pd.read_csv('bbc-text.csv')
data.head()

        category                                               text
0           tech  tv future in the hands of viewers with home th...
1       business  worldcom boss  left books alone  former worldc...
2          sport  tigers wary of farrell  gamble  leicester say ...
3          sport  yeading face newcastle in fa cup premiership s...
4  entertainment  ocean s twelve raids box office ocean s twelve...

In [6]:
data.category.value_counts()

sport            511
business         510
politics         417
tech             401
entertainment    386
Name: category, dtype: int64

In [8]:
train_size = int(len(data)*0.8)
test_size =  int(len(data)) -train_size
test_size

445

In [9]:
def test_train_split(data,train_size):
    train = data[0:train_size] 
    test  = data[train_size:]
    return train,test

In [11]:
train_lab, test_lab = test_train_split(data.category,train_size)
train_text, test_text = test_train_split(data.text, train_size)
train_text.head()

0    tv future in the hands of viewers with home th...
1    worldcom boss  left books alone  former worldc...
2    tigers wary of farrell  gamble  leicester say ...
3    yeading face newcastle in fa cup premiership s...
4    ocean s twelve raids box office ocean s twelve...
Name: text, dtype: object

In [17]:
max_words = 1000
tokenizer = keras.preprocessing.text.Tokenizer(num_words=max_words, \
                                              char_level=False)
display(tokenizer.texts_to_matrix(train_text).shape)
tokenize.fit_on_texts(train_text)

(1780, 1000)